# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

-List some Data Science langage

- List some DataSciences librairies

- List some Data sciences Tools

- Create and add MarkDown

- Manipulate algebra operations

Some of the popular languages that Data Scientists use are:

  1- Python 
  
  2-R
  
  3-Java
  
  4-Julia

Some of the commonly used libraries used by Data Scientists include:

1-Pytorch

2-TensorFlow

3-Matplotlib

4-Seaborn

[Data Science Tools

Apache Spark

Matplotlib

TensorFlow

R]

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
s = 200 % 60 
h = 200 // 60
print("200 min = " + str(h) + " heures " + str(s) + " secondes")

200 min = 3 heures 20 secondes

Author 

## FOTSING Wilson